name: "test"
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: |
        yarn
        yarn build:pack
    - uses: ./
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
